<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Freeeze</title>
  <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon" />
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <a id="logo" class="logo">
        <img src="../assets/img/logo.png" alt="Freeeze">
      </a>
      <nav class="nav">
        <ul class="menu">
          <li class="menu-item">
            <a href="./trangchu.html" class="menu-link">Trang chủ</a>
          </li>
          <li class="menu-item">
            <a href="./gioithieu.html" class="menu-link">Giới thiệu</a>
          </li>
          <li class="menu-item">
            <a href="./sanpham.html" class="menu-link">Sản phẩm</a>
          </li>
          <li class="menu-item">
            <a href="./tintuc.html" class="menu-link">Tin tức</a>
          </li>
          <li class="menu-item">
            <a href="./dangnhap.html" class="menu-link">Đăng nhập</a>
          </li>
          <li class="menu-item">
            <a href="./dangky.html" class="menu-link">Đăng ký</a>
          </li>
          <li class="menu-item">
            <a href="./lienhe.html" class="menu-link">Liên hệ</a>
          </li>
          <div class="header-underline-bar"></div>
        </ul>
        <div class="header-action">
          <label class="header-search">
            <input type="text" name="search" id="#search" class="header-search-input" placeholder="Chọn kem thôi!">
            <button class="header-search-btn btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </label>
          <div class="header-cart btn">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </nav>
      <div class="header-img">
        <img class="header-img-1" src="../assets/img/header-img1.png" alt="">
        <img class="header-img-2" src="../assets/img/header-img2.png" alt="">
        <img class="header-img-3" src="../assets/img/header-img3.png" alt="">
      </div>
    </header>

    <main class="main login-main">
      <section class="login-section px">
        <form action="#" class="form contact-form" autocomplete="off" list="autocompleteOff">
          <div class="form-inner">
            <h1 class="heading heading--01 heading--center">Đăng nhập</h1>
            <!-- Email -->
            <div class="form-group">
              <label class="form-icon" for="form-email">
                <i class="fa-solid fa-envelope"></i>
              </label>
              <input type="email" name="full-name" id="form-email" class="form-input contact-form-input"
                placeholder="Email" required list="autocompleteOff">
            </div>
            <!-- Password -->
            <div class="form-group">
              <label class="form-icon" for="form-password">
                <i class="fa-solid fa-lock"></i>
              </label>
              <input type="password" name="password" id="form-password" class="form-input form-password"
                placeholder="Mật khẩu" required>
            </div>
            <!-- Forget password -->
            <p class="form-get-password">
              <a href="#" class="x-link">
                Quên mật khẩu?
              </a>
            </p>
            <!-- Save credentials -->
            <div class="form-group">
              <label class="form-checkbox-set">
                <input type="checkbox" name="save-credential" id="save-credential" class="form-checkbox-input">
                <div class="form-checkbox-label"></div>
                <p class="form-message form-checkbox-message">Ghi nhớ cho lần đăng nhập sau</p>
              </label>
            </div>
            <button type="submit" class="form-submit contact-form-submit btn">
              <span>Đăng ký</span>
            </button>
          </div>
        </form>
      </section>
    </main>

    <footer class="footer">
      <p class="footer-rights">© Bản quyền thuộc về FreeezeVN.</p>
      <div class="footer-social">
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-pinterest-p"></i>
        </a>
      </div>
    </footer>

    <!-- Back to top -->
    <!-- <a href="#" class="btn back-to-top">
      <i class="fa-solid fa-angle-up"></i>
    </a> -->
  </div>
  <script src="../assets/js/app.js"></script>
</body>

</html>