<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Freeeze</title>
  <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon" />
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <a id="logo" class="logo">
        <img src="../assets/img/logo.png" alt="Freeeze">
      </a>
      <nav class="nav">
        <ul class="menu">
          <li class="menu-item">
            <a href="./index.html" class="menu-link">Trang chủ</a>
          </li>
          <li class="menu-item">
            <a href="./gioithieu.html" class="menu-link">Giới thiệu</a>
          </li>
          <li class="menu-item">
            <a href="./sanpham.html" class="menu-link">Sản phẩm</a>
          </li>
          <li class="menu-item">
            <a href="./tintuc.html" class="menu-link">Tin tức</a>
          </li>
          <li class="menu-item">
            <a href="./dangnhap.html" class="menu-link">Đăng nhập</a>
          </li>
          <li class="menu-item">
            <a href="./dangky.html" class="menu-link">Đăng ký</a>
          </li>
          <li class="menu-item">
            <a href="./lienhe.html" class="menu-link">Liên hệ</a>
          </li>
          <div class="header-underline-bar"></div>
        </ul>
        <div class="header-action">
          <label class="header-search">
            <input type="text" name="search" id="#search" class="header-search-input" placeholder="Chọn kem thôi!">
            <button class="header-search-btn btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </label>
          <div class="header-cart btn">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </nav>
      <div class="header-img">
        <img class="header-img-1" src="../assets/img/header-img1.png" alt="">
        <img class="header-img-2" src="../assets/img/header-img2.png" alt="">
        <img class="header-img-3" src="../assets/img/header-img3.png" alt="">
      </div>
    </header>

    <main class="main main-landing">
      <article class="article">
        <!-- Banner -->
        <section class="banner">
          <img src="../assets/img/trangchu/bg-home.jpg" alt="banner">
        </section>

        <!-- New Product -->
        <section class="section px">
          <h1 class="heading heading--01 heading--center">Sản phẩm mới</h1>
          <div class="section-main">
            <div class="section-img">
              <img src="../assets/img/trangchu/yogurt.jpg" alt="yogurt">
            </div>
            <div class="section-desc">
              <h2 class="heading heading--02 heading--left">Sữa chua tốt cho sức khỏe</h2>
              <div class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum asperiores
                facilis
                quam et! Possimus qui quo suscipit, illum incidunt omnis nulla nostrum odit est eaque, totam, modi
                voluptate? At, inventore! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste aliquid optio
                enim cum sunt, rem repellat quis labore distinctio molestiae reprehenderit ullam hic, consequatur
                dolorem sapiente nobis tenetur ad eveniet. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Aliquam rerum, et cumque autem perspiciatis ut at dolorum eum omnis, quam natus ab labore debitis? Atque
                dolorem officia vitae sequi et! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam ex
                doloremque suscipit iusto laboriosam placeat esse quae voluptates, laborum accusantium dolor impedit
                similique recusandae cupiditate veniam hic officiis eveniet omnis?</div>
            </div>
          </div>
        </section>

        <!-- Members -->
        <section class="section px">
          <h1 class="heading heading--01 heading--center">Góc thành viên</h1>
          <div class="section-main">
            <div class="section-desc">
              <h2 class="heading heading--02 heading--left">Sữa chua làm nhà</h2>
              <div class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum asperiores
                facilis
                quam et! Possimus qui quo suscipit, illum incidunt omnis nulla nostrum odit est eaque, totam, modi
                voluptate? At, inventore! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste aliquid optio
                enim cum sunt, rem repellat quis labore distinctio molestiae reprehenderit ullam hic, consequatur
                dolorem sapiente nobis tenetur ad eveniet. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Aliquam rerum, et cumque autem perspiciatis ut at dolorum eum omnis, quam natus ab labore debitis? Atque
                dolorem officia vitae sequi et! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam ex
                doloremque suscipit iusto laboriosam placeat esse quae voluptates?</div>
            </div>
            <div class="section-img">
              <video controls src="../assets/img/trangchu/yogurt.mp4"></video>
            </div>
          </div>
        </section>

        <!-- Guide -->
        <section class="landing-section section px">
          <h1 class="heading heading--01 heading--center">Hướng dẫn làm sữa chua không đường</h1>
          <div class="landing-guide">
            <div class="landing-ingredients">
              <h3 class="heading heading--03 heading--left">Nguyên liệu làm sữa chua khum đường</h3>
              <ul class="landing-ingredients-list">
                <li class="landing-ingredients-item">1 lít sữa tươi khum đường</li>
                <li class="landing-ingredients-item">1 hộp sữa chua men cái khum đường (bạn có thể mua sữa chua đóng hộp
                  khum đường như Vinamilk, TH True Milk,...)</li>
                <li class="landing-ingredients-item">Dụng cụ nấu và ủ sữa chua</li>
              </ul>
            </div>
            <div class="landing-steps">
              <h3 class="heading heading--03 heading--left">Các bước thực hiện</h3>
              <ol class="landing-steps-list">
                <li class="landing-steps-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
                  accusamus obcaecati cumque perspiciatis et! Et blanditiis illo aut commodi deserunt doloribus nam
                  atque illum!</li>
                <li class="landing-steps-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
                  perspiciatis esse voluptatem aliquid quodtas inventore.</li>
                <li class="landing-steps-item">Recusandae officia doloribus aliquid excepturi dolores culpa sunt
                  consectetur molestiae nulla, ipsa tempora. Earum, asperiores sint?</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- Placing order process -->
        <section class="section landing-process px">
          <h1 class="heading heading--01 heading--center">Đặt hàng ngay</h1>
          <div class="landing-process-container">
            <div class="landing-process-item">
              <img src="../assets/img/trangchu/order_1.png" alt="">
              <span class="landing-process-desc">Gọi điện</span>
            </div>
            <div class="landing-process-item">
              <img src="../assets/img/trangchu/order_2.png" alt="">
              <span class="landing-process-desc">Đặt hàng</span>
            </div>
            <div class="landing-process-item">
              <img src="../assets/img/trangchu/order_3.png" alt="">
              <span class="landing-process-desc">Nhận hàng</span>
            </div>
            <div class="landing-process-item">
              <img src="../assets/img/trangchu/order_4.png" alt="">
              <span class="landing-process-desc">Thanh toán</span>
            </div>
          </div>
        </section>
      </article>
    </main>

    <footer class="footer">
      <p class="footer-rights">© Bản quyền thuộc về FreeezeVN.</p>
      <div class="footer-social">
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-pinterest-p"></i>
        </a>
      </div>
    </footer>

    <!-- Back to top -->
    <a href="#" class="btn back-to-top">
      <i class="fa-solid fa-angle-up"></i>
    </a>
  </div>
  <script src="../assets/js/app.js"></script>
</body>

</html>