<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Freeeze</title>
  <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon" />
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <a id="logo" class="logo">
        <img src="../assets/img/logo.png" alt="Freeeze">
      </a>
      <nav class="nav">
        <ul class="menu">
          <li class="menu-item">
            <a href="../index.html" class="menu-link">Trang chủ</a>
          </li>
          <li class="menu-item">
            <a href="./gioithieu.html" class="menu-link">Giới thiệu</a>
          </li>
          <li class="menu-item">
            <a href="./sanpham.html" class="menu-link">Sản phẩm</a>
          </li>
          <li class="menu-item">
            <a href="./tintuc.html" class="menu-link">Tin tức</a>
          </li>
          <li class="menu-item">
            <a href="./dangnhap.html" class="menu-link">Đăng nhập</a>
          </li>
          <li class="menu-item">
            <a href="./dangky.html" class="menu-link">Đăng ký</a>
          </li>
          <li class="menu-item">
            <a href="./lienhe.html" class="menu-link">Liên hệ</a>
          </li>
          <div class="header-underline-bar"></div>
        </ul>
        <div class="header-action">
          <label class="header-search">
            <input type="text" name="search" id="#search" class="header-search-input" placeholder="Chọn kem thôi!">
            <button class="header-search-btn btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </label>
          <div class="header-cart btn">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </nav>
      <div class="header-img">
        <img class="header-img-1" src="../assets/img/header-img1.png" alt="">
        <img class="header-img-2" src="../assets/img/header-img2.png" alt="">
        <img class="header-img-3" src="../assets/img/header-img3.png" alt="">
      </div>
    </header>

    <main class="main product-main">
      <article class="product-article">
        <section class="section product-section px">
          <h1 class="product-heading heading heading--01 heading--center">Sản phẩm truyền thống</h1>
          <div class="product-container">
            <div class="product-item">
              <div class="product-img">
                <img src="../assets/img/sanpham/kiwi.jpg" alt="kiwi">
              </div>
              <div class="product-info">
                <h2 class="product-name heading heading--02 heading--center">Sữa chua vị kiwi</h2>
                <p class="product-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quia ducimus
                  aliquid, voluptatibus possimus id quas repellendus dolore, quibusdam placeat necessitatibus
                  distinctio, laudantium provident eum quo maiores ut. Eos, mollitia! <a href="#" class="x-link"></a>
                </p>
              </div>
              <div class="product-line"></div>
              <div class="product-buy">
                <label class="product-quantity">
                  <span class="product-quantity-text">Số lượng</span>
                  <input type="number" name="product-quantity" min="1" max="99" class="product-quantity-input"
                    value="1">
                </label>
                <button class="btn product-buy-btn form-submit">
                  <span class="fa-solid fa-cart-arrow-down"></span>
                </button>
              </div>
            </div>
            <div class="product-item">
              <div class="product-img">
                <img src="../assets/img/sanpham/mango.jpg" alt="kiwi">
              </div>
              <div class="product-info">
                <h2 class="product-name heading heading--02 heading--center">Sữa chua vị xoài</h2>
                <p class="product-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quia ducimus
                  aliquid, voluptatibus possimus id quas repellendus dolore, quibusdam placeat necessitatibus
                  distinctio, laudantium provident eum quo maiores ut. Eos, mollitia! <a href="#" class="x-link"></a>
                </p>
              </div>
              <div class="product-line"></div>
              <div class="product-buy">
                <label class="product-quantity">
                  <span class="product-quantity-text">Số lượng</span>
                  <input type="number" name="product-quantity" min="1" max="99" class="product-quantity-input"
                    value="1">
                </label>
                <button class="btn product-buy-btn form-submit">
                  <span class="fa-solid fa-cart-arrow-down"></span>
                </button>
              </div>
            </div>
            <div class="product-item">
              <div class="product-img">
                <img src="../assets/img/sanpham/pineapple.jpg" alt="kiwi">
              </div>
              <div class="product-info">
                <h2 class="product-name heading heading--02 heading--center">Sữa chua vị dưa lưới</h2>
                <p class="product-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quia ducimus
                  aliquid, voluptatibus possimus id quas repellendus dolore, quibusdam placeat necessitatibus
                  distinctio, laudantium provident eum quo maiores ut. Eos, mollitia! <a href="#" class="x-link"></a>
                </p>
              </div>
              <div class="product-line"></div>
              <div class="product-buy">
                <label class="product-quantity">
                  <span class="product-quantity-text">Số lượng</span>
                  <input type="number" name="product-quantity" min="1" max="99" class="product-quantity-input"
                    value="1">
                </label>
                <button class="btn product-buy-btn form-submit">
                  <span class="fa-solid fa-cart-arrow-down"></span>
                </button>
              </div>
            </div>
          </div>
        </section>
        <section class="section product-section px">
          <h1 class="product-heading heading heading--01 heading--center">Sản phẩm mới</h1>
          <div class="product-container">
            <div class="product-item">
              <div class="product-img">
                <img src="../assets/img/sanpham/kiwi.jpg" alt="kiwi">
              </div>
              <div class="product-info">
                <h2 class="product-name heading heading--02 heading--center">Sữa chua vị kiwi</h2>
                <p class="product-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quia ducimus
                  aliquid, voluptatibus possimus id quas repellendus dolore, quibusdam placeat necessitatibus
                  distinctio, laudantium provident eum quo maiores ut. Eos, mollitia! <a href="#" class="x-link"></a>
                </p>
              </div>
              <div class="product-line"></div>
              <div class="product-buy">
                <label class="product-quantity">
                  <span class="product-quantity-text">Số lượng</span>
                  <input type="number" name="product-quantity" min="1" max="99" class="product-quantity-input"
                    value="1">
                </label>
                <button class="btn product-buy-btn form-submit">
                  <span class="fa-solid fa-cart-arrow-down"></span>
                </button>
              </div>
            </div>
            <div class="product-item">
              <div class="product-img">
                <img src="../assets/img/sanpham/kiwi.jpg" alt="kiwi">
              </div>
              <div class="product-info">
                <h2 class="product-name heading heading--02 heading--center">Sữa chua vị kiwi</h2>
                <p class="product-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quia ducimus
                  aliquid, voluptatibus possimus id quas repellendus dolore, quibusdam placeat necessitatibus
                  distinctio, laudantium provident eum quo maiores ut. Eos, mollitia! <a href="#" class="x-link"></a>
                </p>
              </div>
              <div class="product-line"></div>
              <div class="product-buy">
                <label class="product-quantity">
                  <span class="product-quantity-text">Số lượng</span>
                  <input type="number" name="product-quantity" min="1" max="99" class="product-quantity-input"
                    value="1">
                </label>
                <button class="btn product-buy-btn form-submit">
                  <span class="fa-solid fa-cart-arrow-down"></span>
                </button>
              </div>
            </div>
            <div class="product-item">
              <div class="product-img">
                <img src="../assets/img/sanpham/kiwi.jpg" alt="kiwi">
              </div>
              <div class="product-info">
                <h2 class="product-name heading heading--02 heading--center">Sữa chua vị kiwi</h2>
                <p class="product-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quia ducimus
                  aliquid, voluptatibus possimus id quas repellendus dolore, quibusdam placeat necessitatibus
                  distinctio, laudantium provident eum quo maiores ut. Eos, mollitia! <a href="#" class="x-link"></a>
                </p>
              </div>
              <div class="product-line"></div>
              <div class="product-buy">
                <label class="product-quantity">
                  <span class="product-quantity-text">Số lượng</span>
                  <input type="number" name="product-quantity" min="1" max="99" class="product-quantity-input"
                    value="1">
                </label>
                <button class="btn product-buy-btn form-submit">
                  <span class="fa-solid fa-cart-arrow-down"></span>
                </button>
              </div>
            </div>
          </div>
        </section>
        <section class="section product-section px">
          <h1 class="product-heading heading heading--01 heading--center">Sản phẩm trái cây miền nhiệt đới</h1>
          <div class="product-container">
            <div class="product-item">
              <div class="product-img">
                <img src="../assets/img/sanpham/kiwi.jpg" alt="kiwi">
              </div>
              <div class="product-info">
                <h2 class="product-name heading heading--02 heading--center">Sữa chua vị kiwi</h2>
                <p class="product-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quia ducimus
                  aliquid, voluptatibus possimus id quas repellendus dolore, quibusdam placeat necessitatibus
                  distinctio, laudantium provident eum quo maiores ut. Eos, mollitia! <a href="#" class="x-link"></a>
                </p>
              </div>
              <div class="product-line"></div>
              <div class="product-buy">
                <label class="product-quantity">
                  <span class="product-quantity-text">Số lượng</span>
                  <input type="number" name="product-quantity" min="1" max="99" class="product-quantity-input"
                    value="1">
                </label>
                <button class="btn product-buy-btn form-submit">
                  <span class="fa-solid fa-cart-arrow-down"></span>
                </button>
              </div>
            </div>
            <div class="product-item">
              <div class="product-img">
                <img src="../assets/img/sanpham/kiwi.jpg" alt="kiwi">
              </div>
              <div class="product-info">
                <h2 class="product-name heading heading--02 heading--center">Sữa chua vị kiwi</h2>
                <p class="product-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quia ducimus
                  aliquid, voluptatibus possimus id quas repellendus dolore, quibusdam placeat necessitatibus
                  distinctio, laudantium provident eum quo maiores ut. Eos, mollitia! <a href="#" class="x-link"></a>
                </p>
              </div>
              <div class="product-line"></div>
              <div class="product-buy">
                <label class="product-quantity">
                  <span class="product-quantity-text">Số lượng</span>
                  <input type="number" name="product-quantity" min="1" max="99" class="product-quantity-input"
                    value="1">
                </label>
                <button class="btn product-buy-btn form-submit">
                  <span class="fa-solid fa-cart-arrow-down"></span>
                </button>
              </div>
            </div>
            <div class="product-item">
              <div class="product-img">
                <img src="../assets/img/sanpham/kiwi.jpg" alt="kiwi">
              </div>
              <div class="product-info">
                <h2 class="product-name heading heading--02 heading--center">Sữa chua vị kiwi</h2>
                <p class="product-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quia ducimus
                  aliquid, voluptatibus possimus id quas repellendus dolore, quibusdam placeat necessitatibus
                  distinctio, laudantium provident eum quo maiores ut. Eos, mollitia! <a href="#" class="x-link"></a>
                </p>
              </div>
              <div class="product-line"></div>
              <div class="product-buy">
                <label class="product-quantity">
                  <span class="product-quantity-text">Số lượng</span>
                  <input type="number" name="product-quantity" min="1" max="99" class="product-quantity-input"
                    value="1">
                </label>
                <button class="btn product-buy-btn form-submit">
                  <span class="fa-solid fa-cart-arrow-down"></span>
                </button>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>

    <footer class="footer">
      <p class="footer-rights">© Bản quyền thuộc về FreeezeVN.</p>
      <div class="footer-social">
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-pinterest-p"></i>
        </a>
      </div>
    </footer>

    <!-- Back to top -->
    <a href="#" class="btn back-to-top">
      <i class="fa-solid fa-angle-up"></i>
    </a>
  </div>
  <script src="../assets/js/app.js"></script>
</body>

</html>