<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Trang chủ</title>
</head>

<body>
  <div class="wrapper">
    <header class="header px">
      <a id="logo" class="logo">
        <img src="../assets/img/logo.png" alt="Freeeze">
      </a>
      <nav class="nav">
        <ul class="menu">
          <li class="menu-item">
            <a href="../index.html" class="menu-link">Trang chủ</a>
          </li>
          <li class="menu-item">
            <a href="./gioithieu.html" class="menu-link">Giới thiệu</a>
          </li>
          <li class="menu-item">
            <a href="./sanpham.html" class="menu-link">Sản phẩm</a>
          </li>
          <li class="menu-item">
            <a href="./tintuc.html" class="menu-link">Tin tức</a>
          </li>
          <li class="menu-item">
            <a href="./dangnhap.html" class="menu-link">Đăng nhập</a>
          </li>
          <li class="menu-item">
            <a href="./dangky.html" class="menu-link">Đăng ký</a>
          </li>
          <li class="menu-item">
            <a href="./lienhe.html" class="menu-link">Liên hệ</a>
          </li>
          <div class="header-underline-bar"></div>
        </ul>
        <div class="header-action">
          <label class="header-search">
            <input type="text" name="search" id="#search" class="header-search-input" placeholder="Chọn kem thôi!">
            <button class="header-search-btn btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </label>
          <div class="header-cart btn">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </nav>
      <div class="header-img">
        <img class="header-img-1" src="../assets/img/header-img1.png" alt="">
        <img class="header-img-2" src="../assets/img/header-img2.png" alt="">
        <img class="header-img-3" src="../assets/img/header-img3.png" alt="">
      </div>
    </header>

    <main class="main news-main">
      <aside class="news-aside">
        <h1 class="news-title heading heading--01 heading--center">Được quan tâm</h1>
        <div class="news-aside-img">
          <img src="../assets/img/tintuc/hotnews.jpg" alt="hotnews">
        </div>
        <h2 class="news-aside-heading heading heading--02 heading--left">Khai trương hân hoan - ngập tràn ưu đãi</h2>
        <p class="news-aside-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta maiores perferendis
          doloremque, dolor aliquam sed temporibus corrupti minima quam assumenda libero veritatis deleniti? Vel natus
          eius, suscipit voluptate quae expedita? <a href="#!" class="x-link">Xem chi tiết</a></p>
      </aside>
      <article class="news-article">
        <h1 class="heading heading--01 heading--center news-title">Tin tức</h1>
        <div class="news-container">
          <div class="news-item">
            <div class="news-item-main">
              <div class="news-item-text">
                <h2 class="news-item-heading heading heading--02 heading--left">Lộ diện siêu năng lực từ trái xoài</h2>
                <div class="news-item-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
                  eos
                  exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
                  Explicabo
                  deleniti voluptates animi provident assumenda tempora. <a href="#!" class="x-link">Xem chi tiết</a>
                </div>
              </div>
              <div class="news-item-img">
                <img src="../assets/img/tintuc/news1.jpg" alt="news-1">
              </div>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item-main">
              <div class="news-item-text">
                <h2 class="news-item-heading heading heading--02 heading--left">Sữa các loại hạt, món ngon cho hệ miễn
                  dịch khỏe</h2>
                <div class="news-item-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
                  eos
                  exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
                  Explicabo
                  deleniti voluptates animi provident assumenda tempora. <a href="#!" class="x-link">Xem chi tiết</a>
                </div>
              </div>
              <div class="news-item-img">
                <img src="../assets/img/tintuc/news2.jpg" alt="news-2">
              </div>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item-main">
              <div class="news-item-text">
                <h2 class="news-item-heading heading heading--02 heading--left">Sữa chua kiwi - món quà cho sức khỏe
                </h2>
                <div class="news-item-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
                  eos
                  exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
                  Explicabo
                  deleniti voluptates animi provident assumenda tempora. <a href="#!" class="x-link">Xem chi tiết</a>
                </div>
              </div>
              <div class="news-item-img">
                <img src="../assets/img/tintuc/news3.jpg" alt="news-3">
              </div>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item-main">
              <div class="news-item-text">
                <h2 class="news-item-heading heading heading--02 heading--left">Ra mắt app sữa chua Freeeze trên nền
                  tảng IOS</h2>
                <div class="news-item-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
                  eos
                  exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
                  Explicabo
                  deleniti voluptates animi provident assumenda tempora. <a href="#!" class="x-link">Xem chi tiết</a>
                </div>
              </div>
              <div class="news-item-img">
                <img src="../assets/img/tintuc/news4.jpg" alt="news-4">
              </div>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item-main">
              <div class="news-item-text">
                <h2 class="news-item-heading heading heading--02 heading--left">Đăng ký thành viên, nhận ngay ưu đãi
                </h2>
                <div class="news-item-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
                  eos
                  exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
                  Explicabo
                  deleniti voluptates animi provident assumenda tempora. <a href="#!" class="x-link">Xem chi tiết</a>
                </div>
              </div>
              <div class="news-item-img">
                <img src="../assets/img/tintuc/news5.jpg" alt="news-5">
              </div>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item-main">
              <div class="news-item-text">
                <h2 class="news-item-heading heading heading--02 heading--left">Tuyển giám sát chuỗi cửa hàng</h2>
                <div class="news-item-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
                  eos
                  exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
                  Explicabo
                  deleniti voluptates animi provident assumenda tempora. <a href="#!" class="x-link">Xem chi tiết</a>
                </div>
              </div>
              <div class="news-item-img">
                <img src="../assets/img/tintuc/news6.jpg" alt="news-6">
              </div>
            </div>
          </div>

        </div>
      </article>
    </main>

    <footer class="footer">
      <p class="footer-rights">© Bản quyền thuộc về FreeezeVN.</p>
      <div class="footer-social">
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="" class="footer-social-link">
          <i class="fa-brands fa-pinterest-p"></i>
        </a>
      </div>
    </footer>

    <!-- Back to top -->
    <a href="#" class="btn back-to-top">
      <i class="fa-solid fa-angle-up"></i>
    </a>
  </div>
  <script src="../assets/js/app.js"></script>
</body>

</html>