extends ../layouts/layout

block vars 
  -title = 'Freeze: Tin tức'
  -mainClass = 'news-main px'

block container  
  aside.news-aside
    h1.news-title.heading.heading--01.heading--center Được quan tâm
    .news-aside-img
      img(src='../images/tintuc/hotnews.jpg' alt='hotnews')
    h2.news-aside-heading.heading.heading--02.heading--left Khai trương hân hoan - ngập tràn ưu đãi
    p.news-aside-text
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta maiores perferendis
      | doloremque, dolor aliquam sed temporibus corrupti minima quam assumenda libero veritatis deleniti? Vel natus
      | eius, suscipit voluptate quae expedita? 
      a.x-link(href='#!') Xem chi tiết
  article.news-article
    h1.heading.heading--01.heading--center.news-title Tin tức
    .news-container
      .news-item
        .news-item-main
          .news-item-text
            h2.news-item-heading.heading.heading--02.heading--left Lộ diện siêu năng lực từ trái xoài
            .news-item-desc
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
              | eos
              | exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
              | Explicabo
              | deleniti voluptates animi provident assumenda tempora. 
              a.x-link(href='#!') Xem chi tiết
          .news-item-img
            img(src='../images/tintuc/news1.jpg' alt='news-1')
      .news-item
        .news-item-main
          .news-item-text
            h2.news-item-heading.heading.heading--02.heading--left
              | Sữa các loại hạt, món ngon cho hệ miễn
              | dịch khỏe
            .news-item-desc
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
              | eos
              | exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
              | Explicabo
              | deleniti voluptates animi provident assumenda tempora. 
              a.x-link(href='#!') Xem chi tiết
          .news-item-img
            img(src='../images/tintuc/news2.jpg' alt='news-2')
      .news-item
        .news-item-main
          .news-item-text
            h2.news-item-heading.heading.heading--02.heading--left
              | Sữa chua kiwi - món quà cho sức khỏe
            .news-item-desc
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
              | eos
              | exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
              | Explicabo
              | deleniti voluptates animi provident assumenda tempora. 
              a.x-link(href='#!') Xem chi tiết
          .news-item-img
            img(src='../images/tintuc/news3.jpg' alt='news-3')
      .news-item
        .news-item-main
          .news-item-text
            h2.news-item-heading.heading.heading--02.heading--left
              | Ra mắt app sữa chua Freeeze trên nền
              | tảng IOS
            .news-item-desc
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
              | eos
              | exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
              | Explicabo
              | deleniti voluptates animi provident assumenda tempora. 
              a.x-link(href='#!') Xem chi tiết
          .news-item-img
            img(src='../images/tintuc/news4.jpg' alt='news-4')
      .news-item
        .news-item-main
          .news-item-text
            h2.news-item-heading.heading.heading--02.heading--left
              | Đăng ký thành viên, nhận ngay ưu đãi
            .news-item-desc
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
              | eos
              | exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
              | Explicabo
              | deleniti voluptates animi provident assumenda tempora. 
              a.x-link(href='#!') Xem chi tiết
          .news-item-img
            img(src='../images/tintuc/news5.jpg' alt='news-5')
      .news-item
        .news-item-main
          .news-item-text
            h2.news-item-heading.heading.heading--02.heading--left Tuyển giám sát chuỗi cửa hàng
            .news-item-desc
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat cumque
              | eos
              | exercitationem possimus nihil, voluptates, quod error voluptatem quidem ipsam suscipit hic non?
              | Explicabo
              | deleniti voluptates animi provident assumenda tempora. 
              a.x-link(href='#!') Xem chi tiết
          .news-item-img
            img(src='../images/tintuc/news6.jpg' alt='news-6')
