footer.footer
  p.footer-rights © Bản quyền thuộc về FreeezeVN.
  .footer-social
    a.footer-social-link(href='')
      i.fa-brands.fa-facebook-f
    a.footer-social-link(href='')
      i.fa-brands.fa-twitter
    a.footer-social-link(href='')
      i.fa-brands.fa-pinterest-p