header.header
  a#logo.logo
    img(src='../images/logo.png' alt='Freeeze')
  nav.nav
    ul.menu
      li.menu-item
        a.menu-link(href='./index.html') Trang chủ
      li.menu-item
        a.menu-link(href='./about.html') Giới thiệu
      li.menu-item
        a.menu-link(href='./product.html') Sản phẩm
      li.menu-item
        a.menu-link(href='./news.html') Tin tức
      li.menu-item
        a.menu-link(href='./login.html') Đăng nhập
      li.menu-item
        a.menu-link(href='./signup.html') Đăng ký
      li.menu-item
        a.menu-link(href='./contact.html') Liên hệ
      .header-underline-bar
    .header-action
      label.header-search
        input.header-search-input(type='text' name='search' id='#search' placeholder='Chọn kem thôi!')
        button.header-search-btn.btn
          i.fa-solid.fa-magnifying-glass
      .header-cart.btn
        i.fa-solid.fa-cart-shopping
  .header-img
    img.header-img-1(src='../images/header-img1.png' alt='')
    img.header-img-2(src='../images/header-img2.png' alt='')
    img.header-img-3(src='../images/header-img3.png' alt='')